@charset "UTF-8";
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}
.body {
  background-color: #F8F8F8;
  font-family: "TT Lakes";
}
.body-blur {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(8px);
  display: none;
}

.main {
  background-color: #F8F8F8;
}
.main__title {
  font-family: "TT Lakes";
  font-style: bold;
  line-height: 40px;
  margin: 0 0 0 16px;
}
.main__title-wrapper {
  width: 100%;
  height: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.main__title-wrapper::before {
  content: "";
  position: absolute;
  left: -4px;
  width: 8px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 5px;
}
.main__input {
  border: none;
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}
.main__input:focus {
  background-color: #ff9bb9;
}
.main__input-request {
  background-image: url(./icons/pupa.svg);
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
}
.main__input-status {
  background-image: url(./icons/lupa.png);
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
}
.main__input-radio[type=radio] {
  display: none;
}
.main__actions {
  display: none;
}

.header {
  height: 88px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #41F6D7;
  padding: 0 16px;
}
.header__extra {
  display: none;
}
.header__left {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  gap: 15px;
}
.header__right {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  gap: 16px;
}
.header__button {
  border: none;
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}
.header__button:hover {
  background-color: #b449ad;
  transition: background-color 1s;
}
.header__button:focus {
  background-color: #ff9bb9;
}
.header__button-burger {
  background-image: url(./icons/burger-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__button-request {
  background-image: url(./icons/pupa.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__button-status {
  background-image: url(./icons/lupa.png);
  background-repeat: no-repeat;
  background-position: center;
}
.header__button-wrapper {
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.header__button-wrapper::before {
  content: "";
  position: relative;
  top: 4px;
  margin-right: 20px;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
}

.slidemenu__button {
  background-color: #F8F8F8;
  color: #7E7E82;
  padding: 7px 7px 2px 7px;
  border: none;
  height: 30px;
  min-width: 143px;
  gap: 5px;
  text-align: center;
  flex-shrink: 0;
}
.slidemenu__input[type=radio]:checked + label {
  background-color: #FFFFFF;
  border: 2px solid #41F6D7;
  border-radius: 5px;
  padding: 5px 5px 0 5px;
  height: 30px;
  min-width: 143px;
  gap: 5px;
  text-align: center;
  flex-shrink: 0;
}
.slidemenu__input-radio[type=radio] {
  display: none;
}
.slidemenu__nav {
  display: flex;
  overflow-x: auto;
  line-height: 24px;
  margin-left: 16px;
  font-weight: 500;
  color: #7E7E82;
}

.content {
  margin-bottom: 20px;
}
.content__button {
  background-color: #F8F8F8;
  border: none;
  padding-left: 0px;
}
.content__button:hover {
  border-bottom: 2px solid #41F6D7;
}
.content__button::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #41F6D7;
  border-radius: 5px;
}
.content__button-wrapper {
  display: flex;
  width: 120px;
  height: 24px;
  justify-content: space-between;
  margin: 12px 0 16px 16px;
}
.content__button-wrapper::before {
  content: "";
  background-image: url(./icons/str.svg);
  width: 24px;
  height: 24px;
  position: relative;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-position: center;
}
.content__image {
  min-width: 320px;
  width: 100%;
  height: auto;
}
.content__paragraph {
  line-height: 18px;
  margin-left: 16px;
  font-style: normal;
  color: #1B1C21;
}
.content__paragraph-wrapper {
  display: none;
}

.extra-tele {
  background-image: url(./icons/tele.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.extra-message {
  background-image: url(./icons/message.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.extra-human {
  background-image: url(./icons/human.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  min-height: 676px;
  width: 320px;
  height: 100vh;
  font-style: medium;
  font-weight: 500;
  box-shadow: 10px 0 50px -10px rgb(159, 174, 189);
  background-color: #F9F9F9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  left: -400px;
  display: none;
  transition: left 1s ease; /* Добавляем плавный переход */
}
.menu-open {
  display: block; /*было в боди блюр*/
}
.menu__list {
  margin-top: 46px;
  margin-bottom: 10%;
}
.menu__active-language {
  color: #7E7E82;
}
.menu__language {
  display: flex;
  margin-right: 180px;
  margin-left: 24px;
  justify-content: flex-start;
  gap: 7px;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  margin-bottom: 32px;
}
.menu__language-item {
  margin: 0;
}
.menu__number {
  font-weight: bold;
  letter-spacing: -0.6px;
  line-height: 32px;
  font-size: 24px;
  color: #1B1C21;
  margin-left: 24px;
}
.menu__number-wrapper {
  margin-bottom: 40px;
}
.menu__email {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  margin-left: 24px;
}
.menu__email-wrapper {
  margin-bottom: 12px;
}
.menu__contacts {
  display: flex;
  padding-right: 140px;
  margin-left: 24px;
  justify-content: space-between;
  margin-bottom: 16px;
}
.menu__button {
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}
.menu__button:hover {
  background-color: #b449ad;
  transition: background-color 1s;
}
.menu__button-tele {
  background-image: url(./icons/tele.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.menu__button-message {
  background-image: url(./icons/message.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.menu__button-contacts {
  background-image: url(./icons/human.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.menu__button-item {
  width: 222px;
  box-sizing: border-box;
  padding: 10px 0;
  padding-left: 24px;
  background-color: white;
  border: none;
  text-align: left;
  line-height: 24px;
  font-style: medium;
  letter-spacing: -0.2px;
  font-size: 16px;
  font-weight: 500;
  font-family: "TT Lakes";
  margin-bottom: 10px;
}
.menu__button-item:hover {
  background-color: rgba(217, 239, 243, 0.568627451);
  transition: background-color 0.5s;
}
.menu__active {
  display: block;
  left: 0;
}
.menu__header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 86px;
  align-items: center;
  padding: 0px 24px;
  font-family: "TT Lakes";
}
.menu__header__button {
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}
.menu__header__button-exit-burger {
  background: url(./icons/exit-burger.svg) no-repeat center, #FF3E79;
  z-index: 2;
}
.menu__header__button-search {
  background: url(./icons/lupa2.svg) no-repeat center, #FF3E79;
  z-index: 2;
}
.menu__header__button-exit-wrapper {
  display: flex;
  gap: 17px;
  align-items: center;
}

.active {
  color: #7E7E82;
}
.active::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 32px;
  background-color: #41F6D7;
  top: 138px;
  left: -4px;
  border-radius: 4px;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 14px;
  background-color: #B5B6BC;
}

.price-list {
  min-width: 320px;
  height: 234px;
  max-width: 767px;
  position: relative;
  background-color: #F9F9F9;
  margin-bottom: 330px;
}
.price-list__title {
  line-height: 24px;
  letter-spacing: -0.2px;
  font-size: 16px;
  padding: 16px;
  text-transform: uppercase;
  color: #7E7E82;
  margin-top: 0;
}
.price-list-slider {
  margin-bottom: 60px;
  padding: 0 16px;
  overflow: hidden;
}
.price-list-slider .price-list-slider__pagination {
  top: 320px;
  min-width: 320px;
  max-width: 767px;
  height: 20px;
  position: absolute;
  text-align: center;
}
.price-list-header-content {
  display: none;
}
.price-list__header {
  min-width: 320px;
  max-width: 767px;
  height: 80px;
  margin-bottom: 16px;
  background-color: #FFFFFF;
  font-style: normal;
  font-family: "TT Lakes";
  margin-top: 0;
  border-top: #D9FFF5 solid 1px;
}
.price-list-container {
  margin-bottom: 60px;
}
.price-list__slide {
  height: 200px;
  background-color: #FFFFFF;
  border: solid 1px #EAEAEA;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.price-list__slide-title {
  margin: 4px 0px;
  color: #7E7E82;
}
.price-list__slide-button {
  position: relative;
  left: 140px;
  top: -40px;
  width: 119px;
  height: 32px;
  border: none;
  border-radius: 20px;
  background-color: #FF3E79;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  box-sizing: border-box;
  padding-left: 12px;
}
.price-list__slide-button-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.price-list__slide-button-wrapper::after {
  content: "";
  position: relative;
  left: 115px;
  top: -40px;
  width: 20px;
  height: 20px;
  background-image: url(./icons/str-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.technic-slide {
  height: 160px;
}
.technic-slide::after {
  content: "";
  margin: auto 16px 16px auto;
  width: 40px;
  height: 40px;
  background-image: url(./icons/go.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
}
.technic-list {
  margin-bottom: 92px;
  /*от репаира внизу*/
  min-width: 320px;
  height: 234px;
  max-width: 767px;
  position: relative;
  background-color: #F9F9F9;
}
.technic-list__button {
  color: #1B1C21;
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  border: none;
  width: 120px;
  margin-left: 8px;
  background-color: #F9F9F9;
  padding: 0;
}
.technic-list__button:hover {
  background-color: #B5B6BC;
}
.technic-list__button-wrapper {
  justify-content: space-between;
  width: 134px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 256px;
  display: none;
  transition: top 1s ease;
}
.technic-list--expanded {
  height: 460px;
  transition: height 0.7s ease;
}
.technic-list-slider {
  padding: 0 16px;
  overflow: hidden;
}
.technic-list-slider__name {
  margin: 16px auto auto 16px;
}
.technic-list-slider__slide {
  height: 160px;
  background-color: #FFFFFF;
  border: solid 1px #EAEAEA;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.technic-list-slider .technic-list-slider__pagination {
  top: 280px;
  min-width: 320px;
  max-width: 767px;
  height: 20px;
  position: absolute;
  text-align: center;
}
.technic-list__header {
  min-width: 320px;
  max-width: 767px;
  height: 80px;
  margin-bottom: 16px;
  background-color: #FFFFFF;
  font-style: normal;
  font-family: "TT Lakes";
  margin-top: 0;
  border-top: #D9FFF5 solid 1px;
}

.repair-slide::after {
  content: "";
  margin: 16px;
  width: 40px;
  height: 40px;
  background-image: url(./icons/go.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
}
.repair-slider {
  padding: 0 16px;
  overflow: hidden;
}
.repair-slider__slide {
  height: 72px;
  background-color: #FFFFFF;
  border: solid 1px #EAEAEA;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.repair-slider__logo {
  margin: auto 0px auto 16px;
}
.repair-slider__content {
  margin: 0 0px auto 16px;
  font-size: 14px;
  width: 250px;
}
.repair-slider__text {
  margin: 0 0 16px 0;
}
.repair-slider__text-work {
  flex: 1 1;
  max-width: 100%;
  margin-top: 0;
}
.repair-slider .repair-slider__pagination {
  top: 195px;
  min-width: 320px;
  max-width: 767px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
}
.repair-list {
  min-width: 320px;
  height: 234px;
  max-width: 767px;
  position: relative;
  background-color: #F9F9F9;
}
.repair-list__title {
  line-height: 24px;
  letter-spacing: -0.2px;
  font-size: 16px;
  padding: 16px;
  text-transform: uppercase;
  color: #7E7E82;
  margin-top: 0;
}
.repair-list__header {
  min-width: 320px;
  max-width: 767px;
  height: 80px;
  margin-bottom: 16px;
  background-color: #FFFFFF;
  font-style: normal;
  font-family: "TT Lakes";
  margin-top: 0;
  border-top: #D9FFF5 solid 1px;
}
.repair-list__button {
  color: #1B1C21;
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  border: none;
  width: 120px;
  margin-left: 8px;
  background-color: #F9F9F9;
  padding: 0;
}
.repair-list__button:hover {
  background-color: #B5B6BC;
}
.repair-list__button-wrapper {
  justify-content: space-between;
  width: 134px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 256px;
  display: none;
  transition: top 1s ease;
}
.repair-list--expanded {
  height: 400px;
  transition: height 0.7s ease;
}

.commercial {
  margin-top: 60px;
}
.commercial__text {
  margin: 0 16px;
  padding-bottom: 16px;
}
.commercial__button {
  margin: 0 16px 40px 16px;
  width: 200px;
  height: 52px;
  background-color: #F9F9F9;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  border: none;
  padding: none;
}
.commercial__button-wrapper {
  display: flex;
  align-items: center;
}
.commercial__button-wrapper::after {
  content: "";
  width: 24px;
  position: relative;
  left: -110px;
  top: -7px;
  height: 24px;
  background-position: center;
  background-image: url(./icons/pink-str.svg);
}

.feedback {
  color: #B5B6BC;
}
.feedback-menu {
  min-height: 676px;
  width: 320px;
  height: 100vh;
  font-style: medium;
  font-weight: 500;
  box-shadow: -10px 0 50px -10px rgb(174, 174, 174);
  background-color: #F9F9F9;
  position: fixed;
  top: 0;
  z-index: 101;
  right: -320px; /*При нажатии на кнопку сделаю 0 и будет ок*/
  display: none;
  flex-direction: column;
  transition: left 1s ease;
  border-left: 1px solid #D9FFF5;
}
.feedback-menu__title {
  display: flex;
  margin-left: 12px;
}
.feedback-menu__title::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 20px;
  background-image: url(./icons/exit-burger.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: -265px;
}
.feedback-menu__submit-button {
  width: 136px;
  height: 32px;
  background-color: #FF3E79;
  border-radius: 20px;
  border: none;
  color: white;
  text-align: left;
  padding-left: 20px;
}
.feedback-menu__submit-button-wrapper {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.feedback-menu__submit-button-wrapper::after {
  content: "";
  width: 20px;
  height: 20px;
  left: -20px;
  top: 6px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-image: url(./icons/str-right.svg);
}
.feedback-menu__input {
  width: 288px;
  height: 48px;
  padding: 10px 16px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
}
.feedback-menu__input-wrapper {
  padding: 8px 16px;
  margin: 0;
}
.feedback-menu__confirm-text {
  margin: 0 16px 19px 16px;
  line-height: 16px;
  font-size: 14px;
}
.feedback-menu__confirm-text-important {
  color: #FF3E79;
}

.order-call {
  color: #B5B6BC;
  min-height: 676px;
  width: 320px;
  height: 100vh;
  font-style: medium;
  font-weight: 500;
  box-shadow: -10px 0 50px -10px rgb(174, 174, 174);
  background-color: #F9F9F9;
  position: fixed;
  top: 0;
  z-index: 101;
  right: -320px; /*При нажатии на кнопку сделаю 0 и будет ок*/
  display: none;
  flex-direction: column;
  transition: left 1s ease;
  border-left: 1px solid #D9FFF5;
}
.order-call__input {
  width: 288px;
  height: 48px;
  padding: 10px 16px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
}
.order-call__input-wrapper {
  padding: 8px 16px;
  margin: 0;
}
.order-call__confirm-text {
  margin: 0 16px 19px 16px;
  line-height: 16px;
  font-size: 14px;
}
.order-call__confirm-text-important {
  color: #FF3E79;
}
.order-call__submit-button {
  width: 136px;
  height: 32px;
  background-color: #FF3E79;
  border-radius: 20px;
  border: none;
  color: white;
  text-align: left;
  padding-left: 20px;
}
.order-call__submit-button-wrapper {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.order-call__submit-button-wrapper::after {
  content: "";
  width: 20px;
  height: 20px;
  left: -20px;
  top: 6px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-image: url(./icons/str-right.svg);
}
.order-call__title {
  display: flex;
  margin-left: 12px;
  color: #1B1C21;
}
.order-call__title::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 20px;
  background-image: url(./icons/exit-burger.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: -265px;
}

.message-input {
  height: 118px;
  padding: 10px 16px 78px 16px;
}

.footer {
  color: #7E7E82;
  text-align: center;
  border-top: 1px solid #D9FFF5;
  padding-top: 16px;
  height: 81px;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .footer__text {
    width: 215px;
  }
  .footer__text-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
    padding: 0 12px;
  }
  .yearCommand {
    text-align: left;
  }
  .offert {
    text-align: right;
  }
  .main__title {
    margin: 0 0 0 24px;
  }
  .main__title-wrapper {
    margin-bottom: 32px;
  }
  .price-list {
    min-height: 598px;
    margin: 0;
    min-width: 768px;
    max-width: 1119px;
  }
  .price-list__slide-button {
    left: 0;
    top: 0;
  }
  .price-list__slide-button-wrapper::after {
    top: 0px;
    left: -25px;
  }
  .price-list__slide-title {
    display: none;
  }
  .price-list__slide-content {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 16px;
    width: 100%;
    gap: 20px;
    align-items: center;
    margin: 0;
  }
  .price-list-slider {
    display: flex;
    flex-wrap: wrap;
    min-height: 380px;
    padding: 0;
    margin: 0 24px 24px 24px;
  }
  .price-list-slider-pagination {
    display: none;
  }
  .price-list-slider-wrapper {
    gap: 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 24px;
  }
  .price-list-header-content {
    display: flex;
    justify-content: space-between;
    padding: 0 196px 0 16px;
  }
  .price-list-header-content__item-name {
    flex: 1 1;
    max-width: 100%;
  }
  .price-list-header-content__item-price {
    margin-right: 45px;
  }
  .price-list__header {
    min-width: 767px;
    height: 56px;
    max-width: 1120px;
    padding-left: 24px;
    margin-bottom: 16px;
  }
  .price-slide {
    width: 100%;
    height: 66px;
    border-radius: 0;
    flex-basis: auto;
    width: 100%;
  }
  .price-slide:nth-of-type(6) {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .price-slide:nth-of-type(2) {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .technic-slide {
    height: 160px;
    width: calc(33.33% - 16px);
    min-width: 224px;
    background-color: #FFFFFF;
    border: solid 1px #EAEAEA;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  .technic-slide-show {
    display: flex;
  }
  .technic-slide-hidden {
    display: none;
  }
  .technic-list {
    overflow: hidden;
    min-height: 288px;
    min-width: 768px;
    max-width: 1119px;
    padding-bottom: 16px;
    margin: 0;
  }
  .technic-list__title {
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    padding: 16px;
    text-transform: uppercase;
    color: #7E7E82;
    margin-top: 0;
  }
  .technic-list__header {
    min-width: 767px;
    height: 56px;
    max-width: 1120px;
    padding-left: 24px;
    margin-bottom: 16px;
  }
  .technic-list__button--flipped::after {
    transform: rotate(180deg);
  }
  .technic-list__button-wrapper {
    display: flex;
    margin-left: 24px;
  }
  .technic-list__button-wrapper--down {
    top: 430px;
    transition: top 0.7s ease;
  }
  .technic-list__button-wrapper::after {
    content: "";
    position: relative;
    left: -130px;
    width: 24px;
    height: 24px;
    background: url(./icons/str.svg) no-repeat center;
    z-index: 1;
  }
  .technic-list-slider {
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
  }
  .technic-list-slider-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    overflow: visible;
    max-height: 266px;
  }
  .repair-slide {
    height: 72px;
    width: calc(33.33% - 16px);
    min-width: 224px;
    background-color: #FFFFFF;
    border: solid 1px #EAEAEA;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  .repair-slide-hidden {
    display: none;
  }
  .repair-slide-show {
    display: flex;
  }
  .repair-slider {
    padding: 0 24px;
  }
  .repair-slider__content {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 16px;
    width: 100%;
    gap: 20px;
    align-items: center;
    margin: 0;
  }
  .repair-slider__title-slide {
    display: none;
  }
  .repair-slider-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    overflow: hidden;
    max-height: 266px;
  }
  .repair-slider__order-button {
    left: 0;
    top: 0;
  }
  .repair-slider__order-button-wrapper::after {
    position: relative;
    left: -25px;
  }
  .repair-list {
    overflow: hidden;
    min-height: 302px;
    min-width: 768px;
    max-width: 1119px;
  }
  .repair-list__button-wrapper {
    display: flex;
    margin-left: 24px;
  }
  .repair-list__button-wrapper--down {
    top: 340px;
    transition: top 0.7s ease;
  }
  .repair-list__button-wrapper--flipped::after {
    transform: rotate(180deg);
  }
  .repair-list__button-wrapper::after {
    content: "";
    position: relative;
    left: -130px;
    width: 24px;
    height: 24px;
    background: url(./icons/str.svg) no-repeat center;
    z-index: 1;
  }
  .repair-list__header {
    min-width: 767px;
    height: 56px;
    max-width: 1120px;
    padding-left: 24px;
    margin-bottom: 16px;
  }
  .slidemenu__nav {
    margin-left: 24px;
  }
  .header {
    gap: 16px;
    justify-content: space-between;
  }
  .header__button-wrapper {
    margin-left: 4px;
  }
  .header__extra {
    display: flex;
  }
  .header__left {
    justify-content: flex-start;
  }
  .header__right {
    justify-content: flex-end;
  }
  .header__logo-wrapper {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .header__logo-wrapper::before {
    content: "";
    position: relative;
    top: 14px;
    margin-right: 20px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    z-index: 10;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
  .content__paragraph {
    line-height: 20px;
  }
  .content__paragraph-wrapper {
    display: block;
    width: 100%;
    height: auto;
  }
  .content__image {
    width: 100%;
    height: auto;
    min-width: 360px;
    max-width: 531px;
  }
  .content__text {
    max-width: 489px;
    margin-left: 24px;
  }
  .content__photo {
    width: 100%;
    height: auto;
    min-width: 360px;
    max-width: 531px;
    flex-grow: 1;
  }
  .content__button-wrapper {
    margin: 12px 0 0 25px;
  }
  .commercial {
    margin-top: 0px;
  }
  .commercial__text {
    margin: 0 2px;
  }
  .commercial__button {
    width: 292px;
    height: 24px;
    padding: 0;
    margin: 0;
  }
  .commercial__button-wrapper {
    width: 326px;
    height: 24px;
    margin-left: 16px;
  }
  .commercial__button-wrapper::after {
    top: 0px;
    left: 0px;
  }
}
@media (min-width: 1119px) {
  .body {
    max-width: 1120px;
    margin: auto;
  }
  .main__title {
    margin: 0 0 0 32px;
  }
  .main__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .main__action {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .main__actions {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-right: 15px;
  }
  .slidemenu__nav {
    flex-wrap: wrap;
  }
  .header {
    display: none;
  }
  .content__image {
    width: 100%;
    height: auto;
    min-width: 532px;
    flex-grow: 2;
  }
  .content__button-wrapper {
    margin: 12px 0 0 32px;
  }
  .content__text {
    width: 530px;
  }
  .price-list {
    height: 650px;
    overflow: hidden;
    min-width: 1119px;
    max-width: 1120px;
  }
  .price-list__slide {
    width: 100%;
    height: 72px;
  }
  .price-list__header {
    min-width: 1119px;
    max-width: 1120px;
    padding-left: 32px;
  }
  .technic-list {
    min-height: 280px;
  }
  .technic-list-slider__slide {
    width: calc(25% - 24px);
    height: 160px;
  }
  .technic-list-slider__slide:nth-child(4) {
    display: flex;
  }
  .technic-list--expanded {
    height: 450px;
    transition: height 0.7s ease;
  }
  .technic-list__button-wrapper {
    top: 250px;
  }
  .technic-list__button-wrapper--down {
    top: 425px;
    transition: top 0.7s ease;
  }
  .repair-list {
    margin: auto;
    overflow: hidden;
    min-height: 322px;
    min-width: 1119px;
    max-width: 1120px;
  }
  .repair-list__header {
    min-width: 1119px;
    max-width: 1120px;
    padding-left: 32px;
  }
  .repair-list__button-wrapper {
    margin-left: 32px;
  }
  .repair-slider-wrapper {
    gap: 16px 32px;
    overflow: hidden;
  }
  .repair-slide {
    width: calc(25% - 24px);
    height: 72px;
  }
  .repair-slide-hidden:nth-child(7), .repair-slide-hidden:nth-child(8) {
    display: flex;
  }
}

/*# sourceMappingURL=styles.css.map */
