/* Нормализация стилей */
body {
    margin:0;
}
/*Нормализация стилей */


@font-face {
    font-family:'TT Lakes';
    src: url('./fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family:'TT Lakes';
    src: url('./fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'TT Lakes';
    src: url('./fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: medium;
}


.price-list{
    margin-bottom: 330px;
}
.price-list-container{
    margin-bottom: 60px;
}
.commercial{
    margin-top:60px;
}
.commercial__text{
    margin:0 16px;
    padding-bottom:16px;
}
.commercial__button{
    margin:0 16px 40px 16px;  
    width:200px;
    height:52px;
    background-color: #F9F9F9;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    border:none;
    padding:none;
}
.commercial__button-wrapper{
    display: flex;
    align-items: center;
}
.commercial__button-wrapper::after{
    content:"";
  width:24px;
  position: relative;
  left:-110px;
  top:-7px;
  height:24px;
  background-position: center;
  background-image: url(./icons/pink-str.svg);
  
}
.repair-technic-list-slide{
    height:160px;
    background-color: #FFFFFF;
    border:solid 1px #EAEAEA ;
    border-radius: 6px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;

}
.price-list__slide-button{
    position:relative;
    left:140px;
    top:-40px;
    width:119px;
    height:32px;
    border:none;
    border-radius:20px;
    background-color: #FF3E79;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    box-sizing: border-box;
    padding-left:12px;
}
.price-list__slide-button-wrapper{
display: flex;
align-items: center;
position: relative;
}
.price-list__slide-button-wrapper::after{
content:"";
position: relative;
left:-25px;
width:20px;
height:20px;
background-image:url(./icons/str-right.svg);
background-repeat: no-repeat;
background-position: center;
z-index:1;
}
.technic-slide{
height:160px;
}
.repair-price-list__slide{
    height:200px;
    background-color: #FFFFFF;
    border:solid 1px #EAEAEA ;
    border-radius: 6px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
}
.repair-price-list-slider{
    margin-bottom:60px;
}
.price-list__slide-title{
    margin:4px 0px;
    color:#7E7E82;
}
.technic-pagination{
    position: absolute;
    text-align: center;
}
.repair-technic-list-slider .technic-pagination{
    top:280px;
    min-width: 320px;
    max-width: 767px;
    height:20px; 
}
.repair-price-list-slider .price-pagination{
    top:320px;
    min-width: 320px;
    max-width: 767px;
    height:20px;
    position: absolute;
    text-align: center;
}
.technic-list{
    margin-bottom:92px;
}
.technic-pagination .swiper-pagination-bullet{
    width:12px;
    height:12px;
    line-height: 12px;
    font-size: 14px;
background-color: #B5B6BC;  
}
.repair-technic-list-slider{
    padding:0 16px;
    overflow: hidden;
}
.repair-technic-list__button-wrapper{
    justify-content: space-between;
    width:134px;
    height: 24px;
    position: absolute;
    left:16px;
    top:256px;
    display:none;
    transition: top 1s ease;
}
.repair-technic-list__button{
    color:#1B1C21;
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    border: none;
    width:120px;
    margin-left:8px;
    background-color:#F9F9F9;
    padding:0;
}
.technic-slide::after{
    content:"";
    margin:auto 16px 16px auto;
    width:40px;
    height:40px;
    background-image: url(./icons/go.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
}
.repair-technic-list__button:hover{
    background-color: #B5B6BC;
}
.technic-list--expanded{
    height:460px;
    transition: height 0.7s ease;
}
.footer{
    color:#7E7E82;
    text-align: center;
    border-top: 1px solid #D9FFF5;
    padding-top:16px;
    height:81px;
    padding-bottom:25px;
}
.body-blur{
    width:100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    backdrop-filter: blur(5px);
    display: none;
}
.body-blur.menu-open{
    display:block;
}
.price-list-header-content{
    display: none;
}
.feedback-menu{
    min-height:676px;
    width:320px;
    height:100vh;
    font-style: medium;
    font-weight: 500;
    box-shadow:-10px 0 50px -10px rgb(174, 174, 174);
    background-color: #F9F9F9;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 101;
left:50%; 
display:none;
transition: left 1s ease; /* Добавляем плавный переход */
border-left: 1px solid #D9FFF5;
}
.feedback-menu__input{
width:288px;
height:48px;
padding:10px 16px;
box-sizing: border-box;
border:none;
border-radius: 10px;
border:1px solid #EAEAEA;
}
.feedback-menu__input-wrapper{
    padding:8px 16px;
    margin:0;
}
.message-input{
    height:118px;
    padding:10px 16px 78px 16px;
}
.feedback-menu__confirm-text{
    margin: 0 16px;
    line-height: 16px;
    font-size: 14px;
}
.feedback-menu__confirm-text-important{
    color:#FF3E79;
}
.feedback-menu__submit-button{
    width:136px;
    height:32px;
    background-color: #FF3E79;
    border-radius: 20px;
    border:none;
    color:white;
    text-align: left;
    padding-left: 20px;
}
.feedback-menu__submit-button-wrapper{
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.feedback-menu__submit-button-wrapper::after{
    content: "";
    width: 20px;
    height: 20px;
    left:-20px;
    top:6px;
    background-repeat: no-repeat;
    background-position: center;
position: relative;
    background-image: url(./icons/str-right.svg);
}
@media (min-width:768px){
    .footer__text-wrapper{
        display: flex;
        justify-content: space-between;
        margin:0 12px;
        padding:0 12px;
    }
.year-command{
    text-align: left;
}
.offert{
    text-align: right;
}
.footer__text{
    width:215px;
}
.technic-slide{
        height:160px;
    }
.repair-technic-list-slider__wrapper{
    display:flex;
    flex-wrap: wrap;
    gap:16px 24px;
    overflow: visible;
    max-height:266px;
}
.technic-list{
    overflow: hidden;
    min-height:288px;
    min-width: 768px;
  max-width: 1119px;
  padding-bottom:16px;
  margin:0;
}
.repair-technic-list__button-wrapper{
    display:flex ;
    margin-left:24px;
    }
.repair-technic-list__button-wrapper::after{
        content: "";
        position: relative;
        left:-130px;
        width:24px;
        height:24px;
    background: url(./icons/str.svg) no-repeat center;
        z-index: 1;
    }
.repair-technic-list__button-wrapper--flipped::after{
    transform: rotate(180deg);
}
.technic-slide-hidden{
    display:none;
}
.technic-slide-show{
    display: flex;
}
.repair-technic-list__button-wrapper--down{
top:430px;
transition: top 0.7s ease;
}
.price-list{
    min-height:598px;
    margin:0;
}
.repair-technic-list-slider{
    display:flex;
    flex-wrap: wrap;
    overflow: visible;
}
.price-slide{
 width:100%;
 height:66px;
 border-radius: 0;
}
.repair-price-list-slider-wrapper{
    gap:0;
    display: flex;
    flex-direction: column;
    border-radius:5px;
    margin-bottom:24px;
}
/*.repair-price-list-slider{
    display:none;
}*/
.repair-price-list-slider{
    display:flex;
    flex-wrap: wrap;
    min-height:380px;
    padding:0;
    margin:0 24px 24px 24px;
}
.price-list-header-content{
    display: flex;
    justify-content: space-between;
    padding:0 196px 0 16px;
}
.price-slide{
 flex-basis: auto;
 width:100%;
}
.price-list-header-content__item-name{
    flex: 1 1;
    max-width: 100%;
}
.price-list-header-content__item-price{
    margin-right:45px;
}
.price-slide:nth-of-type(2){
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.price-slide:nth-of-type(6){
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.price-pagination{
    display: none;
}
.commercial__button{
    width:292px;
    height:24px;
    padding:0;
    margin:0;
}
.commercial__button-wrapper{
width:326px;
height:24px;
margin-left: 16px;
}
.commercial__button-wrapper::after{
  top:0px;
  left:0px;
}
.commercial__text{
    margin:0 2px;
}
.commercial{
    margin-top:0px;
}
@media (min-width:1119px){
.repair-price-list__slide{
    width:100%;
}
.technic-list{
    min-height:280px;
}
.repair-technic-list__button-wrapper{
    top:250px;
}
.repair-technic-list__button-wrapper--down{
    top:425px;
    transition: top 0.7s ease;
}
.technic-list--expanded{
    height:450px;
    transition: height 0.7s ease;
}
.price-list{
    height:650px;
}
.repair-technic-list-slide:nth-child(4){
display: flex;
}
.repair-technic-list-slide{
    height:160px;}
}
}