.commercial{
    margin-top:60px;
}
.commercial__text{
    margin:0 16px;
    padding-bottom:16px;
}
.commercial__button{
    margin:0 16px 40px 16px;  
    width:200px;
    height:52px;
    background-color: #F9F9F9;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    border:none;
    padding:none;
}
.commercial__button-wrapper{
    display: flex;
    align-items: center;
}
.commercial__button-wrapper::after{
    content:"";
  width:24px;
  position: relative;
  left:-110px;
  top:-7px;
  height:24px;
  background-position: center;
  background-image: url(./icons/pink-str.svg);
  
}
/*.technic-pagination .swiper-pagination-bullet{
    width:12px;
    height:12px;
    line-height: 12px;
    font-size: 14px;
background-color: #B5B6BC;  
}*/
.footer{
    color:#7E7E82;
    text-align: center;
    border-top: 1px solid #D9FFF5;
    padding-top:16px;
    height:81px;
    padding-bottom:25px;
}
.body-blur{
    width:100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    backdrop-filter: blur(5px);
    display: none;
}
.body-blur.menu-open{
    display:block;
}
.feedback-menu{
    min-height:676px;
    width:320px;
    height:100vh;
    font-style: medium;
    font-weight: 500;
    box-shadow:-10px 0 50px -10px rgb(174, 174, 174);
    background-color: #F9F9F9;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 101;
left:50%; 
display:none;
transition: left 1s ease; /* Добавляем плавный переход */
border-left: 1px solid #D9FFF5;
}
.feedback-menu__input{
width:288px;
height:48px;
padding:10px 16px;
box-sizing: border-box;
border:none;
border-radius: 10px;
border:1px solid #EAEAEA;
}
.feedback-menu__input-wrapper{
    padding:8px 16px;
    margin:0;
}
.message-input{
    height:118px;
    padding:10px 16px 78px 16px;
}
.feedback-menu__confirm-text{
    margin: 0 16px;
    line-height: 16px;
    font-size: 14px;
}
.feedback-menu__confirm-text-important{
    color:#FF3E79;
}
.feedback-menu__submit-button{
    width:136px;
    height:32px;
    background-color: #FF3E79;
    border-radius: 20px;
    border:none;
    color:white;
    text-align: left;
    padding-left: 20px;
}
.feedback-menu__submit-button-wrapper{
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.feedback-menu__submit-button-wrapper::after{
    content: "";
    width: 20px;
    height: 20px;
    left:-20px;
    top:6px;
    background-repeat: no-repeat;
    background-position: center;
position: relative;
    background-image: url(./icons/str-right.svg);
}
@media (min-width:768px){
    .footer__text-wrapper{
        display: flex;
        justify-content: space-between;
        margin:0 12px;
        padding:0 12px;
    }
.year-command{
    text-align: left;
}
.offert{
    text-align: right;
}
.footer__text{
    width:215px;
}
.price-list{
    min-height:598px;
    margin:0;
}
.price-slide{
 width:100%;
 height:66px;
 border-radius: 0;
}
.repair-price-list-slider-wrapper{
    gap:0;
    display: flex;
    flex-direction: column;
    border-radius:5px;
    margin-bottom:24px;
}
/*.repair-price-list-slider{
    display:none;
}*/
.repair-price-list-slider{
    display:flex;
    flex-wrap: wrap;
    min-height:380px;
    padding:0;
    margin:0 24px 24px 24px;
}
.price-list-header-content{
    display: flex;
    justify-content: space-between;
    padding:0 196px 0 16px;
}
.price-slide{
 flex-basis: auto;
 width:100%;
}
.price-list-header-content__item-name{
    flex: 1 1;
    max-width: 100%;
}
.price-list-header-content__item-price{
    margin-right:45px;
}
.price-slide:nth-of-type(2){
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.price-slide:nth-of-type(6){
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.price-pagination{
    display: none;
}
.commercial__button{
    width:292px;
    height:24px;
    padding:0;
    margin:0;
}
.commercial__button-wrapper{
width:326px;
height:24px;
margin-left: 16px;
}
.commercial__button-wrapper::after{
  top:0px;
  left:0px;
}
.commercial__text{
    margin:0 2px;
}
.commercial{
    margin-top:0px;
}
@media (min-width:1119px){
.repair-price-list__slide{
    width:100%;
}
.price-list{
    height:650px;
}
}
}