/*.technic-pagination .swiper-pagination-bullet{
    width:12px;
    height:12px;
    line-height: 12px;
    font-size: 14px;
background-color: #B5B6BC;  
}*/
.body-blur{
    width:100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    backdrop-filter: blur(5px);
    display: none;
}
.body-blur.menu-open{
    display:block;
}
.feedback-menu{
    min-height:676px;
    width:320px;
    height:100vh;
    font-style: medium;
    font-weight: 500;
    box-shadow:-10px 0 50px -10px rgb(174, 174, 174);
    background-color: #F9F9F9;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 101;
left:50%; 
display:none;
transition: left 1s ease; /* Добавляем плавный переход */
border-left: 1px solid #D9FFF5;
}
.feedback-menu__input{
width:288px;
height:48px;
padding:10px 16px;
box-sizing: border-box;
border:none;
border-radius: 10px;
border:1px solid #EAEAEA;
}
.feedback-menu__input-wrapper{
    padding:8px 16px;
    margin:0;
}
.message-input{
    height:118px;
    padding:10px 16px 78px 16px;
}
.feedback-menu__confirm-text{
    margin: 0 16px;
    line-height: 16px;
    font-size: 14px;
}
.feedback-menu__confirm-text-important{
    color:#FF3E79;
}
.feedback-menu__submit-button{
    width:136px;
    height:32px;
    background-color: #FF3E79;
    border-radius: 20px;
    border:none;
    color:white;
    text-align: left;
    padding-left: 20px;
}
.feedback-menu__submit-button-wrapper{
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.feedback-menu__submit-button-wrapper::after{
    content: "";
    width: 20px;
    height: 20px;
    left:-20px;
    top:6px;
    background-repeat: no-repeat;
    background-position: center;
position: relative;
    background-image: url(./icons/str-right.svg);
}
@media (min-width:768px){
/*.repair-price-list-slider{
    display:none;
}
@media (min-width:1119px){
.repair-price-list__slide{
    width:100%;
}
.price-list{
    height:650px;
}
}*/
}