@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}
.body {
  background-color: #f8f8f8;
  font-family: "TT Lakes";
  &-blur {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(8px);
    display: none;
  }
}
.main {
  background-color: #f8f8f8;
  &__title {
    font-family: "TT Lakes";
    font-style: bold;
    line-height: 40px;
    margin: 0 0 0 16px;
    &-wrapper {
      width: 100%;
      height: 40px;
      margin-top: 24px;
      margin-bottom: 24px;
      &::before {
        content: "";
        position: absolute;
        left: -4px;
        width: 8px;
        height: 40px;
        background-color: #41f6d7;
        border-radius: 5px;
      }
    }
  }
  &__input {
    border: none;
    background-color: #ff3e79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    &:hover {
      background-color: #b449ad;
      transition: background-color 1s;
    }
    &:active {
      transition: background-color 0.3s;
      background-color: #142ffa;
    }
    &-request {
      background-image: url(./icons/pupa.svg);
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center;
    }
    &-status {
      background-image: url(./icons/lupa.png);
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center;
    }
    &-radio[type="radio"] {
      display: none;
    }
  }
  &__actions {
    display: none;
  }
}
.header {
  height: 88px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #41f6d7;
  padding: 0 16px;
  &__extra {
    display: none;
  }
  &__left {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    gap: 15px;
  }
  &__right {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    gap: 16px;
  }
  &__button {
    border: none;
    background-color: #ff3e79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    transition: background-color 0.3s;
    &:hover {
      background-color: #b449ad;
    }
    &:active {
      background-color: #142ffa;
    }
    &-burger {
      background-image: url(./icons/burger-button.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
    &-request {
      background-image: url(./icons/pupa.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
    &-status {
      background-image: url(./icons/lupa.png);
      background-repeat: no-repeat;
      background-position: center;
    }
    &-wrapper {
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      &::before {
        content: "";
        position: relative;
        top: 4px;
        margin-right: 20px;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
      }
    }
  }
}
.slidemenu {
  &__button {
    background-color: #f8f8f8;
    color: #7e7e82;
    padding: 7px 7px 2px 7px;
    border: none;
    height: 30px;
    min-width: 143px;
    gap: 5px;
    text-align: center;
    flex-shrink: 0;
  }
  &__input[type="radio"]:checked + label {
    background-color: #ffffff;
    border: 2px solid #41f6d7;
    border-radius: 5px;
    padding: 5px 5px 0 5px;
    height: 30px;
    min-width: 143px;
    gap: 5px;
    text-align: center;
    flex-shrink: 0;
  }
  &__input-radio[type="radio"] {
    display: none;
  }
  &__nav {
    display: flex;
    overflow-x: auto;
    line-height: 24px;
    margin-left: 16px;
    font-weight: 500;
    color: #7e7e82;
  }
}
.content {
  margin-bottom: 20px;
  &__button {
    background-color: #f8f8f8;
    border: none;
    padding-left: 0px;
    &:hover {
      border-bottom: 2px solid #41f6d7;
    }
    &:active {
      color: #41f6d7;
    }
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #41f6d7;
      border-radius: 5px;
    }
    &-wrapper {
      display: flex;
      width: 120px;
      height: 24px;
      justify-content: space-between;
      margin: 12px 0 16px 16px;
      &::before {
        content: "";
        background-image: url(./icons/str.svg);
        width: 24px;
        height: 24px;
        position: relative;
        margin-left: 0px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  &__image {
    min-width: 320px;
    width: 100%;
    height: auto;
  }
  &__paragraph {
    line-height: 18px;
    margin-left: 16px;
    font-style: normal;
    color: #1b1c21;
    &-wrapper {
      display: none;
    }
  }
}
.extra {
  &-tele {
    background-image: url(./icons/tele.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  &-message {
    background-image: url(./icons/message.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  &-human {
    background-image: url(./icons/human.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.menu {
  min-height: 676px;
  min-width: 320px;
  max-width: 360px;
  width: 100%;
  height: 100vh;
  font-style: medium;
  font-weight: 500;
  box-shadow: 10px 0 50px -10px rgb(159, 174, 189);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  left: -400px;
  display: none;
  transition: left 1s ease;
  &-open {
    display: block;
    &-left {
      display: block;
    }
  }
  &__list {
    margin-top: 46px;
    margin-bottom: 10%;
  }
  &__active-language {
    color: #7e7e82;
  }
  &__language {
    display: flex;
    margin-right: 180px;
    margin-left: 24px;
    justify-content: flex-start;
    gap: 7px;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    margin-bottom: 32px;
    &-item {
      margin: 0;
    }
  }
  &__number {
    font-weight: bold;
    letter-spacing: -0.6px;
    line-height: 32px;
    font-size: 24px;
    color: #1b1c21;
    margin-left: 24px;
    &-wrapper {
      margin-bottom: 40px;
    }
  }
  &__email {
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    margin-left: 24px;
    &-wrapper {
      margin-bottom: 12px;
    }
  }
  &__contacts {
    display: flex;
    padding-right: 140px;
    margin-left: 24px;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    transition: background-color 0.3s;
    background-color: #ff3e79;
    &:hover {
      background-color: #b449ad;
    }
    &:active {
      background-color: #142ffa;
    }
    &-tele {
      background-image: url(./icons/tele.svg);
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }
    &-message {
      background-image: url(./icons/message.svg);
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }
    &-contacts {
      background-image: url(./icons/human.svg);
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }
    &-item {
      width: 222px;
      box-sizing: border-box;
      padding: 10px 0;
      padding-left: 24px;
      background-color: white;
      border: none;
      text-align: left;
      line-height: 24px;
      font-style: medium;
      letter-spacing: -0.2px;
      font-size: 16px;
      font-weight: 500;
      font-family: "TT Lakes";
      margin-bottom: 10px;
      &:hover {
        background-color: #d9eff391;
        transition: background-color 0.5s;
      }
    }
  }
  &__active {
    display: block;
    left: 0;
  }
  &__header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 86px;
    align-items: center;
    padding: 0px 24px;
    font-family: "TT Lakes";
    &__button {
      background-color: #ff3e79;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      transition: background-color 0.3s;
      &:hover {
        background-color: #b449ad;
      }
      &:active {
        background-color: #142ffa;
      }
      &-exit-burger {
        background:
          url(./icons/exit-burger.svg) no-repeat center,
          #ff3e79;
        z-index: 2;
      }
      &-search {
        background:
          url(./icons/lupa2.svg) no-repeat center,
          #ff3e79;
        z-index: 2;
      }
      &-exit-wrapper {
        display: flex;
        gap: 17px;
        align-items: center;
      }
    }
  }
}
.active {
  color: #7e7e82;
  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 32px;
    background-color: #41f6d7;
    top: 138px;
    left: -4px;
    border-radius: 4px;
  }
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  &-bullet {
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 14px;
    background-color: #b5b6bc;
  }
}
.price {
  &-list {
    min-width: 320px;
    height: 234px;
    max-width: 767px;
    position: relative;
    background-color: #f9f9f9;
    margin-bottom: 330px;
    &__title {
      line-height: 24px;
      letter-spacing: -0.2px;
      font-size: 16px;
      padding: 16px;
      text-transform: uppercase;
      color: #7e7e82;
      margin-top: 0;
    }
    &-slider {
      margin-bottom: 60px;
      padding: 0 16px;
      overflow: hidden;
      .price-list-slider__pagination {
        top: 320px;
        min-width: 320px;
        max-width: 767px;
        height: 20px;
        position: absolute;
        text-align: center;
      }
    }
    &-header {
      &-content {
        display: none;
      }
    }
    &__header {
      min-width: 320px;
      max-width: 767px;
      height: 80px;
      margin-bottom: 16px;
      background-color: #ffffff;
      font-style: normal;
      font-family: "TT Lakes";
      margin-top: 0;
      border-top: #d9fff5 solid 1px;
    }
    &-container {
      margin-bottom: 60px;
    }
    &__slide {
      height: 200px;
      background-color: #ffffff;
      border: solid 1px #eaeaea;
      border-radius: 6px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      &-content {
        padding-left: 12px;
      }
      &-title {
        margin: 4px 0px;
        color: #7e7e82;
      }
      &-button {
        position: relative;
        left: 140px;
        top: -40px;
        width: 119px;
        height: 32px;
        border: none;
        border-radius: 20px;
        background-color: #ff3e79;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
        box-sizing: border-box;
        padding-left: 12px;
        transition: background-color 0.3s;
        &:hover {
          background-color: #b449ad;
        }
        &:active {
          transition: background-color 0.3s;
          background-color: #142ffa;
        }
        &-wrapper {
          display: flex;
          align-items: center;
          position: relative;
          &::after {
            content: "";
            position: relative;
            left: 115px;
            top: -40px;
            width: 20px;
            height: 20px;
            background-image: url(./icons/str-right.svg);
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
          }
        }
      }
    }
  }
}
.technic {
  &-slide {
    height: 160px;
    &::after {
      content: "";
      margin: auto 16px 16px auto;
      width: 40px;
      height: 40px;
      background-image: url(./icons/go.svg);
      background-repeat: no-repeat;
      background-position: center;
      z-index: 5;
    }
  }
  &-list {
    margin-bottom: 92px;
    min-width: 320px;
    height: 234px;
    max-width: 767px;
    position: relative;
    background-color: #f9f9f9;
    &__title {
      line-height: 24px;
      letter-spacing: -0.2px;
      font-size: 16px;
      padding: 16px;
      text-transform: uppercase;
      color: #7e7e82;
      margin-top: 0;
    }
    &__button {
      color: #1b1c21;
      font-weight: medium;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      border: none;
      width: 120px;
      margin-left: 8px;
      background-color: #f9f9f9;
      padding: 0;
      &:hover {
        background-color: #d6d6d7;
      }
      &:active {
        background-color: #e2fff3;
      }
      &-wrapper {
        justify-content: space-between;
        width: 134px;
        height: 24px;
        position: absolute;
        left: 16px;
        top: 256px;
        display: none;
        transition: top 1s ease;
      }
    }
    &--expanded {
      height: 460px;
      transition: height 0.7s ease;
    }
    &-slider {
      padding: 0 16px;
      overflow: hidden;
      &__name {
        margin: 16px auto auto 16px;
      }
      &__slide {
        height: 160px;
        background-color: #ffffff;
        border: solid 1px #eaeaea;
        border-radius: 6px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
      }
      .technic-list-slider__pagination {
        top: 280px;
        min-width: 320px;
        max-width: 767px;
        height: 20px;
        position: absolute;
        text-align: center;
      }
    }
    &__header {
      min-width: 320px;
      max-width: 767px;
      height: 80px;
      margin-bottom: 16px;
      background-color: #ffffff;
      font-style: normal;
      font-family: "TT Lakes";
      margin-top: 0;
      border-top: #d9fff5 solid 1px;
    }
  }
}
.repair {
  &-slide {
    &::after {
      content: "";
      margin: 16px;
      width: 40px;
      height: 40px;
      background-image: url(./icons/go.svg);
      background-repeat: no-repeat;
      background-position: center;
      z-index: 5;
    }
  }
  &-slider {
    padding: 0 16px;
    overflow: hidden;
    &__slide {
      height: 72px;
      background-color: #ffffff;
      border: solid 1px #eaeaea;
      border-radius: 6px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      margin: auto 0px auto 16px;
    }
    &__content {
      margin: 0 0px auto 16px;
      font-size: 14px;
      width: 250px;
    }
    &__text {
      margin: 0 0 16px 0;
      &-work {
        flex: 1 1;
        max-width: 100%;
        margin-top: 0;
      }
    }
    .repair-slider__pagination {
      top: 195px;
      min-width: 320px;
      max-width: 767px;
      height: 20px;
      position: absolute;
      display: flex;
      justify-content: center;
    }
  }
  &-list {
    min-width: 320px;
    height: 234px;
    max-width: 767px;
    position: relative;
    background-color: #f9f9f9;
    &__title {
      line-height: 24px;
      letter-spacing: -0.2px;
      font-size: 16px;
      padding: 16px;
      text-transform: uppercase;
      color: #7e7e82;
      margin-top: 0;
    }
    &__header {
      min-width: 320px;
      max-width: 767px;
      height: 80px;
      margin-bottom: 16px;
      background-color: #ffffff;
      font-style: normal;
      font-family: "TT Lakes";
      margin-top: 0;
      border-top: #d9fff5 solid 1px;
    }
    &__button {
      color: #1b1c21;
      font-weight: medium;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      border: none;
      width: 120px;
      margin-left: 8px;
      background-color: #f9f9f9;
      padding: 0;
      &:hover {
        background-color: #d6d6d7;
      }
      &:active {
        background-color: #e2fff3;
      }
      &-wrapper {
        justify-content: space-between;
        width: 134px;
        height: 24px;
        position: absolute;
        left: 16px;
        top: 256px;
        display: none;
        transition: top 1s ease;
      }
    }
    &--expanded {
      height: 400px;
      transition: height 0.7s ease;
    }
  }
}
.commercial {
  margin-top: 60px;
  &__text {
    margin: 0 16px;
    padding-bottom: 16px;
  }
  &__button {
    margin: 0 16px 40px 16px;
    width: 200px;
    height: 52px;
    background-color: #f9f9f9;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding: none;
    transition: color 0.1s;
    &:hover {
      color: #b449ad;
    }
    &:active {
      color: #142ffa;
    }
    &-wrapper {
      display: flex;
      align-items: center;
      &::after {
        content: "";
        width: 24px;
        position: relative;
        left: -110px;
        top: -7px;
        height: 24px;
        background-position: center;
        background-image: url(./icons/pink-str.svg);
      }
    }
  }
}
.feedback {
  color: #b5b6bc;
  &-menu {
    min-height: 676px;
    width: 320px;
    height: 100vh;
    font-style: medium;
    font-weight: 500;
    box-shadow: -10px 0 50px -10px rgb(174, 174, 174);
    background-color: #f9f9f9;
    position: fixed;
    top: 0;
    z-index: 101;
    right: -380px;
    display: none;
    flex-direction: column;
    transition: right 1s ease;
    border-left: 1px solid #d9fff5;
    &__button {
      &-exit {
        width: 40px;
        height: 40px;
        background-color: #ff3e79;
        border-radius: 20px;
        background-image: url(./icons/exit-burger.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        left: -60px;
        top: -55px;
        border: none;
        transition: background-color 0.3s;
        &:hover {
          background-color: #b449ad;
        }
        &:active {
          background-color: #142ffa;
        }
      }
    }
    &__title {
      display: flex;
      margin-left: 12px;
    }
    &__submit {
      &-button {
        width: 136px;
        height: 32px;
        background-color: #ff3e79;
        border-radius: 20px;
        border: none;
        color: white;
        text-align: left;
        padding-left: 20px;
        transition: background-color 1s;
        &:hover {
          background-color: #b449ad;
        }
        &:active {
          background-color: #142ffa;
        }
        &-wrapper {
          display: flex;
          position: relative;
          justify-content: flex-end;
          &::after {
            content: "";
            width: 20px;
            height: 20px;
            left: -20px;
            top: 6px;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            background-image: url(./icons/str-right.svg);
          }
        }
      }
    }
    &__input {
      width: 288px;
      height: 48px;
      padding: 10px 16px;
      box-sizing: border-box;
      border: none;
      border-radius: 10px;
      border: 1px solid #eaeaea;
      &-wrapper {
        padding: 8px 16px;
        margin: 0;
      }
    }
    &__confirm {
      &-text {
        margin: 0 16px 19px 16px;
        line-height: 16px;
        font-size: 14px;
        &-important {
          color: #ff3e79;
          transition: background-color 1s;
          &:hover {
            color: #b449ad;
          }
          &:active {
            color: #142ffa;
          }
        }
      }
    }
  }
}
.none {
  display: none;
}
.block {
  display: block;
}
.order {
  &-call {
    color: #b5b6bc;
    min-height: 676px;
    width: 320px;
    height: 100vh;
    font-style: medium;
    font-weight: 500;
    box-shadow: -10px 0 50px -10px rgb(174, 174, 174);
    background-color: #f9f9f9;
    position: fixed;
    top: 0;
    z-index: 101;
    right: -380px; 
    display: none;
    flex-direction: column;
    transition: right 1s ease;
    border-left: 1px solid #d9fff5;
    &__button {
      &-exit {
        width: 40px;
        height: 40px;
        background-color: #ff3e79;
        border-radius: 20px;
        background-image: url(./icons/exit-burger.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        left: -60px;
        top: -55px;
        border: none;
        transition: background-color 0.3s;
        &:hover {
          background-color: #b449ad;
        }
        &:active {
          background-color: #142ffa;
        }
      }
    }
    &__input {
      width: 288px;
      height: 48px;
      padding: 10px 16px;
      box-sizing: border-box;
      border: none;
      border-radius: 10px;
      border: 1px solid #eaeaea;
      &-wrapper {
        padding: 8px 16px;
        margin: 0;
      }
    }
    &__confirm {
      &-text {
        margin: 0 16px 19px 16px;
        line-height: 16px;
        font-size: 14px;
        &-important {
          color: #ff3e79;
          transition: background-color 1s;
          &:hover {
            color: #b449ad;
          }
          &:active {
            color: #142ffa;
          }
        }
      }
    }
    &__submit {
      &-button {
        width: 136px;
        height: 32px;
        background-color: #ff3e79;
        border-radius: 20px;
        border: none;
        color: white;
        text-align: left;
        padding-left: 20px;
        transition: background-color 1s;
        &:hover {
          background-color: #b449ad;
        }
        &:active {
          background-color: #142ffa;
        }
        &-wrapper {
          display: flex;
          position: relative;
          justify-content: flex-end;
          &::after {
            content: "";
            width: 20px;
            height: 20px;
            left: -20px;
            top: 6px;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            background-image: url(./icons/str-right.svg);
          }
        }
      }
    }
    &__title {
      display: flex;
      margin-left: 12px;
      color: #1b1c21;
    }
  }
}
.visible {
  right: 0;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
.message {
  &-input {
    height: 118px;
    padding: 10px 16px 78px 16px;
  }
}
.footer {
  color: #7e7e82;
  text-align: center;
  border-top: 1px solid #d9fff5;
  padding-top: 16px;
  height: 81px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .menu {
    width: 320px;
  }
  .footer {
    &__text {
      width: 215px;
      &-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 12px;
        padding: 0 12px;
      }
    }
  }
  .yearCommand {
    text-align: left;
  }
  .offert {
    text-align: right;
  }
  .main {
    &__title {
      margin: 0 0 0 24px;
      &-wrapper {
        margin-bottom: 32px;
      }
    }
  }
  .price {
    &-list {
      min-height: 598px;
      margin: 0;
      min-width: 768px;
      max-width: 1119px;
      &__slide {
        &-button {
          left: 0;
          top: 0;
          &-wrapper {
            &::after {
              top: 0px;
              left: -25px;
            }
          }
        }
        &-title {
          display: none;
        }
        &-content {
          display: flex;
          justify-content: space-between;
          padding: 0 0 0 16px;
          width: 100%;
          gap: 20px;
          align-items: center;
          margin: 0;
        }
      }
      &-slider {
        display: flex;
        flex-wrap: wrap;
        min-height: 380px;
        padding: 0;
        margin: 0 24px 24px 24px;
        &-pagination {
          display: none;
        }
        &-wrapper {
          gap: 0;
          display: flex;
          flex-direction: column;
          border-radius: 5px;
          margin-bottom: 24px;
        }
      }
      &-header {
        &-content {
          display: flex;
          justify-content: space-between;
          padding: 0 196px 0 16px;
          &__item {
            &-name {
              flex: 1 1;
              max-width: 100%;
            }
            &-price {
              margin-right: 45px;
            }
          }
        }
      }
      &__header {
        min-width: 767px;
        height: 56px;
        max-width: 1120px;
        padding-left: 24px;
        margin-bottom: 16px;
      }
    }
    &-slide {
      width: 100%;
      height: 66px;
      border-radius: 0;
      flex-basis: auto;
      width: 100%;
      &:nth-of-type(6) {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      &:nth-of-type(2) {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
    }
  }
  .technic {
    &-slide {
      height: 160px;
      width: calc(33.33% - 16px);
      min-width: 224px;
      background-color: #ffffff;
      border: solid 1px #eaeaea;
      border-radius: 6px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      &-show {
        display: flex;
      }
      &-hidden {
        display: none;
      }
    }
    &-list {
      overflow: hidden;
      min-height: 288px;
      min-width: 768px;
      max-width: 1119px;
      padding-bottom: 16px;
      margin: 0;
      &__title {
        line-height: 24px;
        letter-spacing: -0.2px;
        font-size: 16px;
        padding: 16px;
        text-transform: uppercase;
        color: #7e7e82;
        margin-top: 0;
      }
      &__header {
        min-width: 767px;
        height: 56px;
        max-width: 1120px;
        padding-left: 24px;
        margin-bottom: 16px;
      }
      &__button {
        &--flipped {
          &::after {
            transform: rotate(180deg);
          }
        }
        &-wrapper {
          display: flex;
          margin-left: 24px;
          &--down {
            top: 430px;
            transition: top 0.7s ease;
          }
          &::after {
            content: "";
            position: relative;
            left: -130px;
            width: 24px;
            height: 24px;
            background: url(./icons/str.svg) no-repeat center;
            z-index: 1;
          }
        }
      }
      &-slider {
        display: flex;
        flex-wrap: wrap;
        overflow: visible;
        &-wrapper {
          display: flex;
          flex-wrap: wrap;
          gap: 16px 24px;
          overflow: visible;
          max-height: 266px;
        }
      }
    }
  }
  .repair {
    &-slide {
      height: 72px;
      width: calc(33.33% - 16px);
      min-width: 224px;
      background-color: #ffffff;
      border: solid 1px #eaeaea;
      border-radius: 6px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      &-hidden {
        display: none;
      }
      &-show {
        display: flex;
      }
    }
    &-slider {
      padding: 0 24px;
      &__content {
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 16px;
        width: 100%;
        gap: 20px;
        align-items: center;
        margin: 0;
      }
      &__title {
        &-slide {
          display: none;
        }
      }
      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 24px;
        overflow: hidden;
        max-height: 266px;
      }
      &__order {
        &-button {
          left: 0;
          top: 0;
          &-wrapper {
            &::after {
              position: relative;
              left: -25px;
            }
          }
        }
      }
    }
    &-list {
      overflow: hidden;
      min-height: 302px;
      min-width: 768px;
      max-width: 1119px;
      &__button {
        &-wrapper {
          display: flex;
          margin-left: 24px;
          &--down {
            top: 340px;
            transition: top 0.7s ease;
          }
          &--flipped {
            &::after {
              transform: rotate(180deg);
            }
          }
          &::after {
            content: "";
            position: relative;
            left: -130px;
            width: 24px;
            height: 24px;
            background: url(./icons/str.svg) no-repeat center;
            z-index: 1;
          }
        }
      }
      &__header {
        min-width: 767px;
        height: 56px;
        max-width: 1120px;
        padding-left: 24px;
        margin-bottom: 16px;
      }
    }
  }
  .slidemenu__nav {
    margin-left: 24px;
  }
  .header {
    gap: 16px;
    justify-content: space-between;
    &__button {
      &-wrapper {
        margin-left: 4px;
      }
    }
    &__extra {
      display: flex;
    }
    &__left {
      justify-content: flex-start;
    }
    &__right {
      justify-content: flex-end;
    }
    &__logo-wrapper {
      width: 120px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      &::before {
        content: "";
        position: relative;
        top: 14px;
        margin-right: 20px;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
        z-index: 10;
      }
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    &__paragraph {
      line-height: 20px;
      &-wrapper {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    &__image {
      width: 100%;
      height: auto;
      min-width: 360px;
      max-width: 531px;
    }
    &__text {
      max-width: 489px;
      margin-left: 24px;
    }
    &__photo {
      width: 100%;
      height: auto;
      min-width: 360px;
      max-width: 531px;
      flex-grow: 1;
    }
    &__button-wrapper {
      margin: 12px 0 0 25px;
    }
  }
  .commercial {
    margin-top: 0px;
    &__text {
      margin: 0 2px;
    }
    &__button {
      width: 292px;
      height: 24px;
      padding: 0;
      margin: 0;
      &-wrapper {
        width: 326px;
        height: 24px;
        margin-left: 16px;
        &::after {
          top: 0px;
          left: 0px;
        }
      }
    }
  }
}
@media (min-width: 1119px) {
  .body {
    max-width: 1120px;
    margin: auto;
  }
  .main {
    &__title {
      margin: 0 0 0 32px;
      &-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
      }
    }
    &__action {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &__actions {
      display: flex;
      gap: 32px;
      align-items: center;
      margin-right: 15px;
    }
  }
  .slidemenu__nav {
    flex-wrap: wrap;
  }
  .header {
    display: none;
  }
  .content {
    &__image {
      width: 100%;
      height: auto;
      min-width: 532px;
      flex-grow: 2;
    }
    &__button-wrapper {
      margin: 12px 0 0 32px;
    }
    &__text {
      width: 530px;
    }
  }
  .price {
    &-list {
      height: 650px;
      overflow: hidden;
      min-width: 1119px;
      max-width: 1120px;
      &__slide {
        width: 100%;
        height: 72px;
      }
      &__header {
        min-width: 1119px;
        max-width: 1120px;
        padding-left: 32px;
      }
    }
  }
  .technic {
    &-list {
      min-height: 280px;
      &-slider {
        &__slide {
          width: calc(25% - 24px);
          height: 160px;
          &:nth-child(4) {
            display: flex;
          }
        }
      }
      &--expanded {
        height: 450px;
        transition: height 0.7s ease;
      }
      &__button-wrapper {
        top: 250px;
        &--down {
          top: 425px;
          transition: top 0.7s ease;
        }
      }
    }
  }
  .repair {
    &-list {
      margin: auto;
      overflow: hidden;
      min-height: 322px;
      min-width: 1119px;
      max-width: 1120px;
      &__header {
        min-width: 1119px;
        max-width: 1120px;
        padding-left: 32px;
      }
      &__button {
        &-wrapper {
          margin-left: 32px;
        }
      }
    }
    &-slider {
      &-wrapper {
        gap: 16px 32px;
        overflow: hidden;
      }
    }
    &-slide {
      width: calc(25% - 24px);
      height: 72px;
      &-hidden:nth-child(7),
      &-hidden:nth-child(8) {
        display: flex;
      }
    }
  }
}
@media (min-width: 1440px) {
  .body {
    display: flex;
    margin: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1920px;
    &-part {
      margin-left: auto;
      margin-right: auto;
      width: 1120px;
    }
  }
  .menu {
    position: static;
    top: 0;
    left: 0;
    box-shadow: none;
    display: block;
    min-height: 1800px;
    &-open {
      display: none;
    }
    &__header {
      &__button {
        &-exit {
          &-burger {
            display: none;
          }
        }
      }
    }
  }
  .main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    &__title {
      &-wrappper {
        margin-left: auto;
        margin-right: auto;
        width: 1120px;
      }
    }
  }
  .slidemenu {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
  }
  .content {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
  }
  .repair {
    &-list {
      margin-left: auto;
      margin-right: auto;
      width: 1120px;
    }
  }
  .technic {
    &-list {
      margin-left: auto;
      margin-right: auto;
      width: 1120px;
    }
  }
  .price {
    &-list {
      margin-left: auto;
      margin-right: auto;
      width: 1120px;
    }
  }
}
